// $theme-background-color: #273b4d;

// $theme-border-color: #505b66;
// $theme-border-secondary-color: #696969;
// $theme-border-alternative-color: #444444;

// $theme-text-color: #eee;
// $theme-text-hover-color: #aaa;
// $theme-text-error-color: #cf0d0d;

// $theme-primary-color: #2b3446;
// $theme-primary-hover-color: #1d2534;
// $theme-secondary-color: #292929;

// $theme-selected-color: #0d79dd;
// $theme-selected-hover-color: #444;

$theme-background-color: #1f2f44;
$theme-background-secondary-color: #1c212c;
$theme-background-alternative-color: #292929;

$theme-border-color: #44484b;
// $theme-border-secondary-color: #696969;
$theme-border-alternative-color: #4f4f4f;

$theme-text-color: #E4E4DA;
$theme-text-dark-color: #27262e;
$theme-text-hover-color: #a9a69c;
$theme-text-error-color: #cf0d0d;

$theme-primary-color: #EDECE8;
$theme-primary-hover-color: #414140;
// $theme-secondary-color: #293546;

$theme-selected-color: #1073b6;
$theme-selected-hover-color: #0e6199;
